*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
input,select,button{
    margin: 10px auto;
    padding: 10px;
}